/* nprogress - CookieRun Soft Theme */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: linear-gradient(90deg, #EAC54F, #D97B4A);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0 0 8px rgba(234,197,79,0.3);
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 8px rgba(217,123,74,0.3);
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner { display: none; }
